*{
  border: 2px solid red;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
}
body{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.left-player-container{
  width: 20%;
  background-color: cyan;
}
.main-game-container{
  width: 60%;
}
.right-player-container{
  width: 20%;
  background-color: rebeccapurple;
}
.mini-game-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
