/* *{
  border: 2px solid red;
} */
*{
  font-family: 'Get Schwifty';
src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: black;
}

.left-player-container, .right-player-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: 100%;
  background: linear-gradient(#32CD32,#0099EE,#FF007F, #BF40BF);
  /* background-image: url("assets/cup1.jpeg"); */
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: bottom;
}

.box-1, .box-4, .box-2, .box-5, .box-6, .box-3 {
  border-bottom: 10px solid #FF007F;
  width: 33%;
  height: 33%;

}

.box-1, .box-2, .box-4, .box-7, .box-5, .box-8 {
  border-right: 10px solid #0099EE;
  width: 33%;
  height: 33%;
}

.box-9 {
  width: 33%;
  height: 33%;
}

p {
  color: white;
  font-size: 20px;
}

.main-game-container {
  width: 60%;
  background-color: white;
}

.box-1, {
height: 131px;
width: 131px;
}

h1 {
  display: flex;
  justify-content: center;
  color: yellow;
  font-size: 60px;
  font-weight: bolder;
  text-shadow: black;
  background: black;
  -webkit-text-stroke: 1px #0099EE;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.main-game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("assets/rick-morty.jpeg");
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
}

.main-game-box {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 400px;
}

.main-game {
  height: 400px;
  width: 400px;
  display: table;
  border-collapse: collapse;

}

.playerToken{
  height: 100px;
  width:100px;
}



.avs, .redwing {
  height: 150px;
  width: 150px;
}
.hidden {
  display: none;
}
